<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CollabEdit</title>
    <meta name="description" content="A Collaborative text editor made using CRDT">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/editor.css">

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="/js/editor.js" defer></script>
  </head>
  <body>
    <h1 class="display-3">
      Collab-Edit
    </h1>
    <h2>
        {{title}}
    </h2>
    <textarea id ="editor" type = "text"></textarea>
    <button onclick="Refresh()">Refresh</button>
  </body>
</html>
